@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=PT+Sans+Narrow&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #171010;
    font-family: Comfortaa, sans-serif;
    color: #EDEDED;
}

a {
    font-size: 14px;
    text-transform: uppercase;
    color: #EDEDED;
    text-decoration: none;
}

a:hover {
    color: #FF1E56;
    transition: 0.5s ease;
}

.text-logo {
    float: left;
    margin: 0 40px;
}

.logo {
    position: absolute;
    width: 10%;
    padding: 0px 0px;
    border: 2px solid #171010;
}
.menu {
    background-color: #171010;
    width: 100%;
    height: 60px;
}

.menu p {
    color: #ffffff;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

.menu ul {
    float: right;
    padding: 0px 50px;
}

.menu ul li {
    float: left;
    list-style: none;
    position: relative;
}

.menu a {
    cursor: pointer;
    display: block;
    padding: 20px 14px;
}

.dropdown {
    background-color: #171010;
    display: none;
    position: absolute;
    border-radius: 0 0 6px 6px;
}

.dropdown li {
    margin-bottom: 5px;
}

.dropdown-btn:hover .dropdown {
    display: block;
}

.middle-container {
    background-color: #ffffff;
    color: #171010;
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: center;

}

.mid-content {
    position: relative;
    top: 100px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    line-height: 25px;
}



.mid-content h1 {
    padding-bottom: 20px;
}

.mid-content hr {
    position: relative;
    margin: 10px auto;
    border-style: solid none none;
    border-width: 5px;
    width: 5%;
    border-radius: 5px;
    color: #FF1E56;
}

.order-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    top: 20px;
    font-weight: bold;
    text-align: center;
    width: 700px;
    height: 550px;
    line-height: 25px;
}

textarea {
    resize: none;
    border: 2px solid #171010;
    border-radius: 10px;
    font-size: 15px;
    margin: 3px;
    padding: 10px 10px;
    width: 500px;
    height: 400px;
}
.order-field {
    font-size: 16px;
    margin: 3px;
    padding: 10px 10px;
    border: 2px solid #171010;
    border-radius: 10px;
    width: 500px;
    height: 30px;
}

.request-btn {
    border: 0px solid #171010;
    border-radius: 10px;
    color: #ffffff;
    background-color: #FF1E56;
    font-family: Comfortaa, sans-serif;
    width: 140px;
    height: 70px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.request-btn:hover {
    background-color: #DA0037;
}

input {
    font-family: Comfortaa, FontAwesome;
}

.contact {
    position: relative;
    width: 100%;
    margin: 20px auto;
}
.contact a {
    color: #FF1E56;
    text-transform: lowercase;
    font-size: 16px;
}

.contact a:hover {
    color: #DA0037;
    
}

.boxes {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: Comfortaa, FontAwesome;
    margin-top: 50px;
}

.boxes h3 {
    padding: 50px 10px 20px;
    color: #171010;
}

.boxes i {
    display: block;
    padding: 15px;
    font-family: PT Sans Narrow, FontAwesome;
}

.box {
    width: 370px;
    height: 220px;
    background-color: #FF1E56;
    border-radius: 15px;
    margin: 10px;
    align-items: baseline;
    color: #EDEDED;
    letter-spacing: 2px
}

.footer {
    background-color: #171010;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 7;
}
